/*peliculas*/

.peliculas {
    text-align: center;
    margin: 10vh;
    border-bottom: 1px solid rgb(237, 237, 237);
  }
  
  .peliculaTitulo {
    color: red;
    font-size: 25px;
  }
  
  .peliculas {
    h3 {
      color: yellow;
      text-transform: uppercase;
      font-size: 3rem;
    }
  
    p {
      font-size: 4rem;
      color: rgb(109, 109, 109);
      padding: 10px;
    }
  }
  
  .contenedorPeliculas {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
  }
  
  .peliculas {
    padding: 20px;
    text-align: center;
  }
  
  .peliculasImagen {
    width: 100%;
    height: 750px;
    border-radius: 5px;
    margin-bottom: 20px;
    object-fit: contain;
  }
  
  .tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
  
    img {
      max-width: 100%;
    }
  
    p {
      margin: 10px 20px;
      color: beige;
      font-size: 25px;
    }
  
    button {
      background-color: yellow;
      color: rgb(0, 0, 0);
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 10px;
    }
  }
  